apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base  #not default namespace base
namespace: redis
configMapGenerator:
  - name: redis-values
    files:
      - values.yaml=values.yaml
configurations:
  - kustomizeconfig.yaml