apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../podinfo/podinfo.yaml
namespace: podinfo
patches:
  - path: ../../base/helmrelease-default.yaml
    target:
      kind: HelmRelease
