apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - ../../base
  - ../redis/redis.yaml
namespace: redis
patches:
  - path: ../../base/helmrelease-default.yaml
    target:
      kind: HelmRelease
